.contacts {
  width: 100%;
  background-color: rgba(45, 139, 241, 0.07);
 
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 72px 0;

  .contacts__title {
    @include standart-block-width;
    @include  page-title;
  }

  .contacts__list {
    @include standart-block-width;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 36px;

    @media screen  and (max-width: $tablet){
      grid-template-columns: repeat(3, 1fr);
      row-gap: 20px;
    }

    @media screen  and (max-width: $mobile){
      grid-template-columns: 1fr;
      row-gap: 40px;
    }
  }

  .contacts__item {
    width: 100%;
    text-align: center;
  }

  .contacts__item-title {
    @include circe-lowercase;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 6px;
  }

  .contacts__item-desc {
    @include circe-lowercase;
    font-size: 16px;
    line-height: 21px;

    a {
      @include silly-link;
      color: $primary-color-hovered;
    }
  }

  @media screen and (max-width: $tablet) {
    padding: 30px 0;
  }
}