.filters {
  display: none;
  position: relative;
  background-color: rgb(255, 255, 255);
  z-index: 100;
  box-shadow: 0px 4px 13px rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
  padding: 28px;
  width: 645px;

  flex-direction: column;
  row-gap: 40px;

  @media screen and (max-width: 700px) {
    width: 100%;
  }

  &.active {
    display: flex;
  }

  .filters__block {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 6px;
    row-gap: 10px;

    @media screen and (max-width: 700px) {
      grid-template-columns: repeat(2, 1fr);
      justify-items: center;
    }
  }

  .filters__blocktitle {
    grid-column: span 3;
    @include circe-lowercase;
    font-weight: 700;
    @media screen and (max-width: 700px) {
      grid-column: span 2;
    }
  }

  .filters__select {
    @include circe-lowercase;
    @include transition;
    position: relative;
    width: 190px;
    height: 33px;
    border: 0.5px solid rgba(0, 0, 0, 0.5);
    border-radius: 20px;

    &[data-state="active"] {
      border-radius: 20px 20px 0px 0px;
      background-color: $primary-color-hovered;
      border-color:  $primary-color-hovered;
      color: white;
      
      .filters__select-title {
        &::before {
          transform: translate(-3px, -50%) rotate(-45deg);
          background-color: #fff;
        }
  
        &::after {
          transform: translate(3px, -50%) rotate(45deg);
          background-color: #fff;
        }

        &:hover {
                
          &::before,
          &::after {
            background-color: #fff;
            opacity: 0.6;
          }
        }
      }
      
      .filters__select-content {
        opacity: 1;
        color: $dark-color-default;
        max-height: unset;
        height: fit-content;
        z-index: 3;
      }

      .filter__select-item {
        min-height: 40px;
        max-height: unset;
        height: fit-content;
        background-color: #fff;
        padding: 4px 10px;
      }
    }

    .filters__select-title {
      display: flex;
      align-items: center;
      justify-content: center;
      width: calc(100% - 24px);
      height: 100%;
      padding: 0 8px;
      
     @include silly-link;
    
      &::before,
      &::after {
        content: "";
        @include transition;
    
        position: absolute;
        top: 50%;
        right: 10px;
        display: block;
        width: 6px;
        height: 1px;
        background-color: $middle-dark-color-default;
        transform: translate(-3px, -50%) rotate(45deg);
      }

      &::after {
        right: 12px;
        transform: translate(3px, -50%) rotate(-45deg);
      }
    
      &:hover {
        border-color: $primary-color-hovered;
    
        &::before,
        &::after {
          background-color: $primary-color-hovered;
        }
      }
    }
  
    .filters__select-content {
      position: absolute;
      top: 32px;
      left: -1px;
      max-height: 0;
      display: flex;
      row-gap: 2px;
      flex-direction: column;
      width: calc(100% + 2px);
      background-color: #ffffff;
      box-shadow: 0px 4px 13px rgba(0, 0, 0, 0.15);
      opacity: 0;
      z-index: 0;
    }

    .filter__select-item {
      @include silly-link;
      display: flex;
      max-height: 0;
      overflow: hidden;
      align-items: center;
      box-sizing: border-box;
      column-gap: 6px;
    

      &:hover {
        background-color: rgba(22, 120, 226, 0.1);
      }

      &.active {
        .filter__select-label {
          &:before {
            content: '';
            left: 3px;
            top: 5px;
            position: absolute;
            width: 14.5px;
            height: 1px;
            background-color: $dark-color-default;
            transform: rotate(-45deg) ;
            transform-origin: center;
          }

          &:after {
            content: '';
            left: 1px;
            top: 8px;
            position: absolute;
            width: 6px;
            height: 1px;
            background-color: $dark-color-default;
            transform: rotate(45deg) ;
            transform-origin: center;
          }
        }
      }
    }

    .filter__select-text {
      @include circe-lowercase;
      font-size: 14px;
      word-break: break-word;
      margin: 0;
    }
    
   
    .filter__select-label {
      width: 15px;
      height: 15px;
      flex-shrink: 0;
      border-radius: 3px;
      border: 0.5px solid $dark-color-default;
      background-color: #fff;
      position: relative;
    }
  }


  .filter__button-block {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-end;
    column-gap: 8px;

    .filters__button {
      @include button;
      text-transform: capitalize;
      font-size: 14px;
      line-height: 18px;

      &.filters__button_reset {
        border: 1px solid $primary-color-hovered;
        background-color: #fff;
        color: $primary-color-hovered;

        &:hover {
          background-color: rgba(22,120,226,.1);
        }
      }
    }
  }
}


.filter-tags {
  
  @include circe-lowercase;
  
  width: 100%;
  margin: 20px 0 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 16px;

  .tag {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 8px;

    max-height: 40px;
    box-sizing: border-box;
    padding: 5px 15px;
    border-radius: 5px;
    background-color: rgba(22, 120, 226, 0.1);
    
    .tag__delete {
      @include silly-link;

      border: none;
      background-color: transparent;
      width: 12px;
      height: 12px;
      position: relative;

      &:before {
        @include transition;
        content: '';
        position: absolute;
        left: 0;
        width: 15px;
        height: 1px;
        background-color: $dark-color-default;
        transform: rotate(-45deg);
        transform-origin: center;
      }

      &::after {
        @include transition;
        content: '';
        left: 0;
        position: absolute;
        width: 15px;
        height: 1px;
        background-color: $dark-color-default;
        transform: rotate(45deg) ;
        transform-origin: center;
      }

      &:hover {
        &::before, &::after {
          opacity: 0.6;
        }
      }
    }
  }
}
