.mosaic {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 40px;
  column-gap: 20px;    
  justify-content: center;

  margin: 0 0 60px;
  @media screen and (max-width: $desktop) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media screen and (max-width: $tablet) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.mosaic__card {
  @include silly-link;

  width: 100%;
  display: flex;
  flex-direction: column;
  color: $dark-color-default;
 

  .mosaic__img {
    @include transition;
    transition-property: box-shadow,transform;
    width: auto;
    height: 100%; 
 
    object-fit: cover;
    object-position: center;
  }

  .mosaic__card-title {
    @include circe-uppercase;
    @include transition;
    transition-property: color;
    font-weight: 700;
    margin: 18px 0 4px;
  } 

  .mosaic__card-subtitle {
    @include circe-lowercase;
  }

  &:hover {
    .mosaic__img{
      transform: translateY(-2px);
      --shadow-color: 0deg 0% 59%;
      box-shadow: 
      0.4px 0.9px 1.1px hsl(var(--shadow-color) / 0.4),
      1.3px 3.2px 3.9px -0.8px hsl(var(--shadow-color) / 0.4),
      3.3px 8px 9.7px -1.7px hsl(var(--shadow-color) / 0.4),
      8px 19.5px 23.7px -2.5px hsl(var(--shadow-color) / 0.4);
    }
     

    .mosaic__card-title {
      color: $primary-color-hovered;
    } 
  
    .mosaic__card-subtitle {
      color: $dark-color-default;
    }
  }
}



