.navigation {
  background-color: #fff;
  position: sticky;
  z-index: 35;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  padding: 0 64px;
  width: 100%;
  min-height: 80px;
  height: 100%;
  margin: 40px 0 0 0;
  border-bottom: 1px solid $middle-dark-color-default;

  .navigation__leftblock {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 32px;
    height: 80px;

    .navigation__back {
      @include circe-uppercase;
      @include silly-link;
      @include transition;
      font-size: 14px;
      line-height: 21px;
      color: $dark-color-default;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      &:hover {
        opacity: 0.7;
      }
      img {
        margin-right: 10px;

        @media screen and (max-width: $tablet) {
          width: 27px;

        }
      }
      
    }

    
  }

  .navigation__rightblock {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 80px;
    margin-left: auto;
    margin-right: 10px;

    @media screen and (max-width: $tablet) {
      order: 3;
      margin: 0;

      
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      width: 100%;
      justify-items: center;
      justify-content: center;
    }
  }

  .navigation__nav-button {
    height: 100%;
    min-width: 100px;
    
    a {
      @include silly-link;
      @include circe-uppercase;
      @include transition;
      font-size: 14px;
      line-height: 21px;    
      display: flex;
      background-color: transparent;
      color: $dark-color-default;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      box-sizing: border-box;
      padding: 0 10px;

      &:hover {
        background-color: rgba(22, 120, 226, 0.03);
      }

    }

    &.active {
      a {
        background-color: rgba(22, 120, 226, 0.1);
        color: $primary-color-onclick;
      }
    }
    @media screen and (max-width: $tablet) {
        width: 100%;
    }

    @media screen and (max-width: $mobile) {
      min-width: 90px;
     }

  }

  .navigation__nav-print {
    position: relative;

    .navigation__print {
      @include silly-link;
      @include button;
      @include transition;

      text-transform: capitalize;
      display: flex;
      background-color: $primary-color-hovered;
      color: white;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      box-sizing: border-box;
      padding: 0 10px;
      font-size: 14px;
      line-height: 21px;
      min-height: 40px;
      box-sizing: border-box;
      padding: 10px 15px;

      &:hover {
        background-color: $primary-color-onclick;
      }

      &.active {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }
    }

    .navigation__nav-print-variants {
      display: none;
      flex-direction: column;
      position: absolute;
      right: 0;
      background-color: #fff;
      box-shadow: 0px 4px 13px rgba(0, 0, 0, 0.15);

      width: fit-content;
      min-width: 100%;

      .navigation__nav-print-variant {
        @include transition;
        min-height: 44px;
        width: 100%;
        display: flex;

        align-items: center;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);

        &:last-of-type{
          border-bottom: none;
        }

        &:hover {
          background-color: rgba(22, 120, 226, 0.1);
        }

        &:active {
          background-color: rgba(22, 120, 226, 0.3);
        }

        a {
          @include silly-link;
          display: block;
          box-sizing: border-box;
          padding: 12px 8px;
          width: 100%;
          height: 100%;
          color: $dark-color-default;
        }
      }

      &.active {
        display: flex;
      }
    }

    @media screen and (max-width: $tablet) {
      order: 2;
      margin-left: auto;
      min-width: auto;
     }


  }

  .navigation__print-form {
    margin-left: auto;   
    display: none;
    
    &.active {
      display: flex;
    }

    .navigation__print-query {
      display: none;
    }
  }

  .navigation__print-button {
    @include button;
    @include transition;

    text-transform: unset;

    &:hover {
      background-color: $primary-color-onclick;
    }


  }

  @media screen and (max-width: $tablet) {
    flex-wrap: wrap;
    padding: 0 40px;
  }

  @media screen and (max-width: $mobile) {
    flex-wrap: wrap;
    padding: 0 16px;
  }
}