.represent {
  @include circe-lowercase;
  


  .represent__total {
    @include circe-uppercase;
    display: flex;
    flex-direction: row;
    column-gap: 4px;
    margin: 0 auto 8px;
  
  }
  .represent__counter {
    font-weight: 600;
  }

  &.represent_tableview {
    margin-top: -60px;
    margin-bottom: 60px;


    .float-right{
      &.search {
        &.btn-group {
          display: none;
        }
      }
    }
  }

}