
.search {
  max-width: 240px;

  .search__main-block {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 8px;

    svg {
      width: 25px;
      height: 25px;
    }

    .search__main-input {
      @include circe-lowercase;
      width: 240px;
      height: 40px;
  
      background: #FFFFFF;
      border: none;
      border-bottom: 0.5px solid rgb(0, 0, 0);
      border-radius: 0;
      outline: none;
  
      box-sizing: border-box;
      padding: 0 5px;
      box-shadow: none;
      
  
      &::placeholder {
        @include circe-lowercase;
        color: rgba(32, 30, 51, 0.7);
      }

      &:focus {
        border-color: $primary-color-hovered;
      }
    }

    .search__filter{
      @include silly-link;
      width: 38px;
      height: 38px;
      padding: 0;
      background-color: transparent;
      border: none;
      display: flex;
      justify-content: center;
      align-items: center;

      position: absolute;
      right: 1px;
      top: 50%;
      transform: translateY(-50%);

      svg {
        rect {
          @include transition;
          fill: $primary-color-hovered;
        }
      }

      &:hover {
        svg {
          rect {
            fill: $primary-color-onclick;
          }
        }
      }

      &.search__submenu_active {
        svg {
          rect {
            fill: $primary-color-onclick;
          }
        }
      }
    }
  }
}






