
.search {
  .search__main-block {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 5px;

    .search__lupe {
      width: 25px;
      height: 25px;
      min-height: 25px;
      min-width: 25px;
    }

    .search__main-input {
      @include circe-lowercase;
      width: 100%;
      height: 40px;
      max-width: 240px;
      background: #FFFFFF;
      border: none;
      border-bottom: 0.5px solid rgb(0, 0, 0);
      border-radius: 0;
      outline: none;
  
      box-sizing: border-box;
      padding: 0 5px;
      box-shadow: none;
      
  
      &::placeholder {
        @include circe-lowercase;
        color: rgba(32, 30, 51, 0.7);
      }

      &:focus {
        border-color: $primary-color-hovered;
      }
    }

    .search__openfilter {
      @include button;
      background-color: transparent;
      min-height: 20px;
      min-width: 20px;
      padding: 0;  
      width: 20px; 
      height: 20px;   
      .search__openfilter_svg {
       @include transition; 
      }
      
      &:hover {
        background-color: transparent;
        .search__openfilter_svg path{
          stroke: $primary-color-hovered;
        }
      }

      &.active {
        .search__openfilter_svg {
          
          fill:$primary-color-hovered;
          path {
            stroke: $primary-color-hovered;
          }


          &:hover {
            fill: white;
          }
        }
      }
    }

  }

 
}





