.aa-tablet {
  text-align: center;
  vertical-align: middle;

   thead {
    background-color: rgba(0, 0, 0, 0.05);
    border-bottom-color: transparent !important;
    tr {
      th{
        text-align: left;
        &:first-of-type {
          border-top-left-radius: 10px;
          border-bottom-left-radius: 10px;
          border-left-width: 0px;
        }

        &:last-of-type {
          border-top-right-radius: 10px;
          border-bottom-right-radius: 10px;
          border-right-width: 0px;
        }

        .no-filter-control {
          margin-bottom: 12px;
        }

        .filter-control {
          input {
            border-radius: 0;
            margin-bottom: 12px;

            &:focus {
              box-shadow: none;
              border-color: $primary-color-hovered;
            }
          }

          select {
            border-radius: 0;
            margin-bottom: 12px;
            &:focus {
              box-shadow: none;
              border-color: $primary-color-hovered;
            }

            option {
              min-height: 40px;
              &:first-of-type {
                border-top-left-radius: 25px;
                border-top-right-radius: 25px;
              }
            }
          }
        }
      }
    }
  }

  tbody {
    border-top-width: 0 !important;
    border-top-color: transparent !important;
  }

  .aa-tablet__raiting {
    font-size: 18px;
    color: $primary-color-hovered;
  }

  .aa-tablet__link {
    @include silly-link;
    color: $dark-color-default;
    font-weight: 1024;
    text-align: left;

    @media screen and (max-width: 1240px) {
      text-align: right;
    }
  }

  .aa-tablet__text {
    
    @media screen and (max-width: 1240px) {
      text-align: right !important;
    }
  }

  &.table-hover {
    tbody {
      tr {
        &.selected {
          background-color: rgba(31, 132, 233, 0.05);
          &:hover {
            box-shadow: 0px 1px 9px rgba(0, 0, 0, 0.25);
            @media screen  and (max-width: 1240px){
              box-shadow: none;
            }
          }
        }
        
        &:hover {
          td {
            background-color: rgb(230, 241, 252);
            @media screen  and (max-width: 1240px){
              background-color: transparent;
            }
          }
        }
      }
    }
  }

  .bs-checkbox {
    label {
      display: flex;
      border-radius: 3px;
      position: relative;
      width: 17px;
      height: 17px;
      border: 0.5px solid #201E33; 
      align-items: center;
      justify-content: center; 
      input {
        display: none;
      }

      input:checked ~ span{
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -90%) rotate(135deg);
          width: 12px;
          height: 6px;
          border-width: 1px;
          border-style: solid;
          border-color: #201E33 #201E33 transparent transparent;
      }
    }
  }

  @media screen and (max-width: 1240px) {
    tbody {
      tr {
        td {
         padding: 0;
         border-bottom-width: 0;
         padding: 0 10px;
        }
        &.selected {
          background-color: transparent !important;
          .card-views {
            background-color: rgba(31,132,233,.05);
          }
        }
      }
    }
    
    .card-views {
      margin: 0 0 25px 0;
      width: 100%;
      padding: 10px 0 0;
      box-shadow: 0px 4px 13px rgba(0, 0, 0, 0.15);
      overflow: hidden;
      border-radius: 20px;
      display: flex;
      flex-direction: column;
      

      .card-view {
        order: 3;
        min-height: 40px;

        border-bottom: .5px solid rgba(0, 0, 0, 0.15);
        &:last-of-type {
          border-bottom: none
        }

        &:nth-of-type(1) {
          order: 1;
          padding: 5px 15px;
        }
        &:nth-of-type(4) {
          order: 2;
        }

        .card-view-title  {
          padding:  0 0 0 15px;
          background-color: #E8F1FC;
          display: flex !important;
          align-items: center;
          font-weight: 400 !important;
          min-width: 40% !important;
          max-width: 40%;
        }

        .card-view-value   {
          padding:  5px 15px 5px 0;
          display: flex !important;
          align-items: center;
          justify-content: flex-end;
         
        }
      }
    }
  }
}  



.table-hover>tbody>tr:hover>* {
  --bs-table-accent-bg:  rgb(230, 241, 252);

  @media screen and (max-width: 1240px) {
    --bs-table-accent-bg:  rgba(255, 255, 255, 0);
  }
}

.bootstrap-table .fixed-table-container .table tbody tr.selected td {
  background-color: transparent;
}

.bootstrap-table .fixed-table-container .table thead .sortable {
  @include silly-link;  
}

.bootstrap-table .fixed-table-container .table thead th .both {
  background-image: url(../../images/sortableUpDown.png);
  background-position: right 10px bottom 50%;
}

.bootstrap-table .fixed-table-container .table thead th .asc {
  background-image: url(../../images/sortableUp.png);
}

.bootstrap-table .fixed-table-container .table thead th .desc {
   background-image: url(../../images/sortable.png);
}